<div>
  <h1>My Goals</h1>
  <ng-progress></ng-progress>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <div *ngFor="let goal of goals; let i = index">
          <li id="{{ i }}" appStrikethrough class="list-group-item">{{ goal.name }} due on {{goal.completeDate|dateCount}} days</li>
          <!-- <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button> -->
          <button class="btn btn-primary" (click)='goToUrl(goal.id)'>View Details</button>
          <button class="btn btn-outline-danger" (click)='deleteGoal(i)'>Delete Goal</button>
          <!-- <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'completeGoal($event,i)'></app-goal-detail> -->
          <!-- <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteGoal($event,i)'>
          </app-goal-detail> -->
        </div>

      </ul>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>
  </div>
  <a href=""></a>
  <p *ngIf="goals.length < 0" class="text-center">No goals</p>
  <div class="row mt-5">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer mt-3"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>
</div>
