<app-navbar></app-navbar>
<!-- <div class="container m-5">
<app-servers></app-servers>

</div> -->




<!-- goal classes -->


<!-- <div class="container m-5">
  <app-goal></app-goal>
</div> -->

<!--

<hr>
<hr>

<div class="container m-5">
  <h3>Just me training</h3>
  <app-users></app-users>
</div> -->

<!-- <div class="container m-5">
  <app-todo></app-todo>
</div> -->

<!-- <app-username></app-username> -->

<!-- <app-property></app-property> -->

<!-- <hr>
Learning assignment about angular forms
<hr> -->
<!-- <app-subscriptions-form></app-subscriptions-form> -->



<!-- udemy classes -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account ></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        ></app-account>
    </div>
  </div>
</div> -->

<!-- <button (click)="getPosts()">Get Posts</button>

<div *ngFor="let post of posts">
  {{ post | json}}
</div> -->


<!-- http posts -->
<!-- <app-posts></app-posts> -->

<!-- <app-user></app-user> -->
<router-outlet></router-outlet>
